/*-------------------------------
Buttons
-------------------------------*/

.btn {
  position: relative;
  padding: 10px 30px;
  font-size: 1em;
  line-height: 23px;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all var(--transition-duration-fast) ease-in-out;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}

// Primary

.btn--primary {
  background: var(--color-black);
  color: var(--color-white);

  &:hover {
    background: rgba(var(--color-black-rgb), 0.5);
    color: var(--color-white);
  }
}

// Secondary

.btn--secondary {
  background: var(--color-white);
  color: var(--color-black);

  &:hover {
    background: rgba(var(--color-white-rgb), 0.5);
    color: var(--color-black);
  }
}

// Disabled {

.btn--disabled {
  opacity: 0.5;
}

// Full Width

.btn--full-width {
  display: block;
  width: 100%;
}

// Wide

.btn--wide {
  padding: 20px 20px 25px;

  @media all and (min-width: 768px) {
    padding: 20px 70px 25px;
  }
}

/*-------------------------------
Underline Link
-------------------------------*/

.underline-link {
  color: var(--color-black);
  border-bottom: 1px solid;
  cursor: pointer;

  &:hover {
    border-bottom: 0;
  }
}

.underline-link-btn {
  border: 0;
  background: none;
  border-bottom: 1px solid;
  padding: 0;
  cursor: pointer;

  &:hover {
    border-bottom: 0;
  }
}

.wysiwyg .underline-link-btn {
  color: var(--color-orange);
}
