/*-------------------------------
Info Card
-------------------------------*/

// Container

.info-card {
	background: transparent;
	border-bottom: 2px solid var(--color-black);
	margin-bottom: var(--spacer-s);
	padding: 0 0 var(--spacer-s);
}

.info-card p {
	margin-bottom: 0;
}

.info-card:last-of-type {
	border-bottom: 0;
	padding: 0;
}

// Header

.info-card__header {
	display: flex;
	justify-content: space-between;
}

// Footer

.info-card__footer {
	display: flex;
	justify-content: space-between;
	margin-top: var(--spacer-s);
}
