/*-------------------------------
Loading Icon
-------------------------------*/

.loading-icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--color-black);
  border-top-color: rgba(var(--color-black-rgb), 0.5);
  animation: loading 1.2s linear infinite;
  margin-top: -10px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
