/*-------------------------------
Structure
-------------------------------*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/*-------------------------------
Pages
-------------------------------*/

// Structure

.pagination__pages {
  display: flex;
  margin: 0 20px;
}

// Page Items

.pagination__page {
  display: flex;

  &.current {
    font-weight: bold;
  }
}

.pagination__page:after {
  content: '';
  width: 2px;
  height: 100%;
  display: inline-block;
  background: var(--color-black);
  margin: 0 10px;
}

.pagination__page:last-child:after {
  display: none;
}

.pagination__page.active {
  font-weight: bold;
}

/*-------------------------------
Arrows
-------------------------------*/

.pagination__arrow {
  width: 10px;
}

.pagination__arrow svg {
  display: block;
}

.pagination__arrow .svg-stroke {
  transition: all var(--transition-duration-fast)
    var(--transition-ease-standard);
}

.pagination__arrow:hover .svg-stroke {
  stroke: var(--color-black);
}
