<main class="page-main">
  <div class="panel">
    <div class="container container--small">
      <div class="content-block">
        <header class="content-block-header content-block-header--center">
          <h1 class="h2 content-block-header__title">Reset Password</h1>
        </header>

        <div class="form-reset-password">
          {% form 'reset_customer_password' %}
            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {% if form.errors %}
              <div class="notification-banner notification-banner--invalid wysiwyg">
                {% for field in form.errors %}
                  {% if field == 'form' %}
                    <p>{{ form.errors.messages[field] }}</p>
                  {% else %}
                    <p>{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</p>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

            <div class="form__group">
              <label for="reset_password">Reset Password</label>
              <input 
                type="password"
                name="customer[password]"
                id="reset_password"
                class="{% if form.errors contains 'password' %}error{% endif %}"
              />
            </div>
            
            <div class="form__group">
              <label for="password_confirmation">Password Confirmation</label>
              <input 
                type="password"
                name="customer[password_confirmation]"
                id="password_confirmation"
                class="{% if form.errors contains 'password_confirmation' %}error{% endif %}"
              />
            </div>

            <div class="form__group">
              <button type="submit" class="btn btn--primary">Reset Password</button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
