/*-------------------------------
Address Card
-------------------------------*/

// Container

.address-card {
  background: transparent;
  border-bottom: 1px solid var(--color-black);
  margin-bottom: var(--spacer-s);
  padding: 0 0 var(--spacer-s);
}

.address-card p {
  margin-bottom: 0;
}

.address-card:last-of-type {
  border-bottom: 0;
  padding: 0;
}

// Header

.address-card__header {
  display: flex;
  justify-content: space-between;
}

// Footer

.address-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacer-s);
}
