/*-------------------------------
Structure
-------------------------------*/

.main-footer {
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 100px 0;
}

/*-------------------------------
Social
-------------------------------*/

.main-footer__social {
  display: flex;
  justify-content: center;
  padding: var(--spacer-s) 0;
}
