/*-------------------------------
Structure
-------------------------------*/

.top-messaging {
  background: var(--color-white);
  line-height: normal;
  overflow: hidden;
  text-align: center;
  padding: 5px 0;
  font-size: 0.8em;
}

.top-messaging p {
  margin-bottom: 0;
}
