/*-------------------------------
General
-------------------------------*/

body {
  font-size: calc(12px + (15 - 12) * ((100vw - 768px) / (1600 - 768)));
  line-height: 1.73;
  font-family: 'helvetica';
  color: var(--color-black);

  @media all and (max-width: 768px) {
    font-size: calc(14px + (16 - 14) * ((100vw - 320) / (768 - 320)));
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

/*-------------------------------
Headers
-------------------------------*/

h1,
h2.h1 {
  font-size: 4.33em;
  line-height: 1.02;
  font-family: 'helvetica', serif;
  font-weight: normal;

  @media all and (max-width: 768px) {
    font-size: 2.6em;
  }
}

h2,
h1.h2 {
  font-family: 'helvetica', serif;
  font-size: 2em;
  line-height: 1.13;
  font-weight: normal;

  @media all and (max-width: 768px) {
    font-size: 1.7em;
  }
}

h3 {
  font-family: 'helvetica', sans-serif;
  font-size: 1.06em;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: normal;
}

h4 {
  font-family: 'helvetica', sans-serif;
  font-size: 1.33em;
  line-height: 1.4;
  font-weight: normal;
}

/*-------------------------------
Paragraph
-------------------------------*/

p {
  font-family: 'helvetica';
  font-size: 1em;
  line-height: 1.73;

  b,
  strong {
    font-weight: normal;
    font-family: 'helvetica';
  }
}

.wysiwyg p:last-child {
  margin-bottom: 0;
}

.wysiwyg p:empty {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 var(--spacer-s);
}

/*-------------------------------
Links
-------------------------------*/

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  color: inherit;
}

.wysiwyg a {
  text-decoration: underline;
  transition: color var(--transition-duration-fast) ease-in-out;

  &:hover {
    color: var(--color-black);
  }
}

/*-------------------------------
Links
-------------------------------*/

b,
strong {
  font-family: 'helvetica';
  font-weight: normal;
}
