/*-------------------------------
Colors
-------------------------------*/
// Text

// Background

/*-------------------------------
Type
-------------------------------*/

// Sizes

.type--s {
  font-size: 0.8em;
}

// Families

.antique-olive-nord {
  font-family: 'antique-olive-nord', sans-serif;
}

/*-------------------------------
Margin
-------------------------------*/

// None

.margin--0 {
  margin: 0;
}

// Top

.margin-top--0 {
  margin-top: 0;
}

.margin-top--xs {
  margin-top: var(--spacer-xs);
}

.margin-top--s {
  margin-top: var(--spacer-s);
}

.margin-top--m {
  margin-top: var(--spacer-m);
}

.margin-top--l {
  margin-top: var(--spacer-l);
}

.margin-top--xl {
  margin-top: var(--spacer-xl);
}

// Bottom

.margin-bottom--0 {
  margin-bottom: 0;
}

.margin-bottom--xs {
  margin-bottom: var(--spacer-xs);
}

.margin-bottom--s {
  margin-bottom: var(--spacer-s);
}

.margin-bottom--m {
  margin-bottom: var(--spacer-m);
}

.margin-bottom--l {
  margin-bottom: var(--spacer-l);
}

.margin-bottom--xl {
  margin-bottom: var(--spacer-xl);
}

/*-------------------------------
Padding
-------------------------------*/

// None

.padding--0 {
  margin: 0;
}

// Top

.padding-top--0 {
  margin-top: 0;
}

.padding-top--xs {
  margin-top: var(--spacer-xs);
}

.padding-top--s {
  margin-top: var(--spacer-s);
}

.padding-top--m {
  margin-top: var(--spacer-m);
}

.padding-top--l {
  margin-top: var(--spacer-l);
}

.padding-top--xl {
  margin-top: var(--spacer-xl);
}

// Bottom

.padding-bottom--0 {
  margin-bottom: 0;
}

.padding-bottom--xs {
  margin-bottom: var(--spacer-xs);
}

.padding-bottom--s {
  margin-bottom: var(--spacer-s);
}

.padding-bottom--m {
  margin-bottom: var(--spacer-m);
}

.padding-bottom--l {
  margin-bottom: var(--spacer-l);
}

.padding-bottom--xl {
  margin-bottom: var(--spacer-xl);
}

/*-------------------------------
Alignment
-------------------------------*/

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}

/*-------------------------------
Visibility
-------------------------------*/

// Tablet

.tablet--hide {
  @media all and (max-width: 768px) {
    display: none;
  }
}

.tablet--show {
  display: none;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.hide {
  display: none;
}

/*-------------------------------
Cursors
-------------------------------*/

.cursor--pointer {
  cursor: pointer;
}
