/*-------------------------------
Colors
-------------------------------*/

// Text

// Background

/*-------------------------------
Margin
-------------------------------*/

// None

.margin--none {
  margin: 0;
}

// Bottom

.margin-bottom--xs {
  margin-bottom: var(--spacer-xs);
}

.margin-bottom--s {
  margin-bottom: var(--spacer-s);
}

.margin-bottom--m {
  margin-bottom: var(--spacer-m);
}

.margin-bottom--l {
  margin-bottom: var(--spacer-l);
}

.margin-bottom--xl {
  margin-bottom: var(--spacer-xl);
}

/*-------------------------------
Alignment
-------------------------------*/

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}

/*-------------------------------
Visibility
-------------------------------*/

// Tablet

.tablet--hide {
  @media all and (max-width: 768px) {
    display: none;
  }
}

.tablet--show {
  display: none;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.hide {
  display: none;
}
