<div class="cookie-consent notification--is-dismissible" id="cookie-consent">
  <div class="container cookie-consent__container">
    <div class="cookie-consent__text wysiwyg">
      {{ settings.cookie_consent_text }}
    </div>
    <a href="#" class="btn btn--primary notification__dismiss-btn" data-dismiss="cookie-consent">{{ settings.cookie_consent_button_label }}</a>
  </div>
</div>